<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
	
	<div layout:fragment="content">
	
		<div id="content-header">
			<h1>Facturas
				<!-- <a href="#" class="btn btn-default" style="float: right; margin-right:20px; margin-top:-20px;"><i class="glyphicon glyphicon-plus"></i> Nuevo</a>  -->
			</h1>
		</div>
		
		<div class="row">
			<div class="col-12">
				<div class="widget-box"> 
					<div class="widget-title">
						<span class="icon">
							<i class="glyphicon glyphicon-th"></i>
						</span>
						<h5>Lista de Facturas</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>Número</th>
									<th>Fecha de Emisión</th>
									<th>Guia de Remisión</th>
									<th>Total</th>
									<th>Operación</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="bill : ${bills}">
									<td th:text="${bill.number}">1111111</td>
									<td th:text="${bill.issueDate}">12-06-14</td>
									<td th:text="${bill.referralGuide}">23323-2323</td>
									<td th:text="${bill.total}">400.00</td>
									<td>
										<a href="#" class="btn btn-primary" th:href="@{|/admin/genBill/${bill.id}|}"><i class="glyphicon glyphicon-print"></i> Generar factura</a>
									</td>
								</tr>
							</tbody>
						</table>							
					</div>
				</div>
			</div>
		</div>
	
	</div>
</html>