<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/base">

    <div layout:fragment="content">
        <div id="content-header">
            <h1>Cambiar contraseña</h1>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="glyphicon glyphicon-align-justify"></i>
                        </span>
                        <div class="buttons">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>